*.fits
__pycache__
__pycache__/**
*.ipynb
*.json
*.zip
*.dat
*.log
notebooks/
notebooks/**
.ipynb_checkpoints
.ipynb_checkpoints/**
.ipynb_checkpoints/*.ipynb
06apr23_Moon/
51Peg_raw/
HD185144_raw/
__init__.py
datareduction/.lock_cklick
datareduction/HD108_lsdtest.s
datareduction/catselectpick.pickle
datareduction/settings_neonarval.py
datareduction/steinberbruch/
datareduction/thars.pickle
play/
reffiles/ReadmeRedmer
reffiles/hoboe_NEO_20200912_190502_th0.fits_1.txt
reffiles/hoboe_NEO_20200912_190502_th0.fits_2.txt
reffiles/hoboe_NEO_20220903_191404_th0.fits_1.txt
reffiles/hoboe_NEO_20220903_191404_th0.fits_2.txt
vega_raw/
vega_reference/
venv_vega/

../token
